.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: white;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  padding: 20px;
  position: relative;
}

.modalHeader {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modalBody p {
  margin: 0 0 10px 0;
  font-weight: bold;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input,
.formGroup select {
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
}

.secondaryButton {
  background-color: white;
  border: 1px solid red;
  color: red;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.primaryButton {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.inlineGroup {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.inlineGroup label {
  margin-right: 10px;
  /* Espacio entre los labels */
}