@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-color: #d6dbdc;
  --background-start-color: #d6dbdc;
  --background-end-color: #ffffff;
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.action-list {
  position: relative;
  z-index: 1000; /* Adjust the z-index as needed */
}
.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.no-spinner {
  -moz-appearance: textfield;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ffffff;
    --background-start-color: #ffffff;
    --background-end-color: #d6dbdc;
  }
}

body {
  color: black;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dot {
  transition: transform 0.3s ease-in-out!important;
}